{% extends 'layout.html' %}

{% block title %}Derin Öğrenmeye Giriş{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4" id="main-title">Derin Öğrenmeye Giriş</h1>
        <p class="lead" id="main-desc">
            Deep learning, büyük veri setlerinden örüntüleri tanıyarak öğrenen gelişmiş bir yapay zeka tekniğidir.
        </p>
        <hr class="my-4">
        <p id="additional-info">
            Bu teknik, görüntü ve ses tanıma, doğal dil işleme gibi birçok alanda devrim niteliğinde ilerlemelere yol açmıştır.
        </p>
    </div>

    <section id="more-details" class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 id="why-deep-learning">Neden Derin Öğrenme?</h2>
                <p>
                    Derin öğrenme, karmaşık problem çözme ve analiz yetenekleri sayesinde, geleneksel makine öğrenme tekniklerinden daha etkili sonuçlar sunar. 
                </p>
            </div>
            <div class="col-md-12 mt-4">
                <h2 id="basic-terms">Temel Terimler ve Kavramlar</h2>
                <p>
                    <strong>Yapay Sinir Ağları:</strong> Beynin işleyişini taklit eden matematiksel modeller. <br>
                    <strong>Eğitim Veri Seti:</strong> Modelin öğrenmesi için kullanılan veri koleksiyonu. <br>
                    <strong>Öğrenme Oranı:</strong> Modelin eğitim sürecindeki adaptasyon hızını belirleyen parametre. <br>
                    <strong>Derinlik:</strong> Modeldeki katman sayısı; daha fazla katman, genellikle daha detaylı öğrenmeyi ifade eder.
                </p>
            </div>
            <div class="col-md-12 mt-4">
                <h2 id="basic-principles">Temel Prensipler</h2>
                <p>
                    Derin öğrenme modelleri, verilerdeki örüntüleri tespit ederek bu bilgileri yeni, görülmemiş veriler üzerinde tahmin yapmak için kullanır. Bu süreç, sürekli veri analizi ve modelin iyileştirilmesi üzerine kuruludur.
                </p>
            </div>
        </div>
    </section>

    <div class="fixed-bottom text-right mb-3 mr-3">
        <a class="btn btn-primary" href="{% url 'types-of-nn' %}" role="button" id="next-topic-btn">Sonraki Konu</a>
    </div>
</div>

<script>
    gsap.from("#main-title", { duration: 1, y: -100, opacity: 0 });
    gsap.from("#main-desc", { duration: 1, y: -100, opacity: 0, delay: 0.5 });
    gsap.from("#additional-info", { duration: 1, y: -100, opacity: 0, delay: 1 });
    gsap.from("#why-deep-learning, #basic-terms, #basic-principles", { duration: 1, opacity: 0, delay: 1.5, stagger: 0.5 });
    gsap.from("#next-topic-btn", { duration: 1, y: 100, opacity: 0, delay: 2.5 });
</script>

    <style>
        #hover-btn:hover {
            transform: scale(1.1); /* Örnek bir transform efekti. Dilerseniz başka bir efekt ekleyebilirsiniz. */
        }
    </style>
{% endblock %}
