{% extends 'layout.html' %}

{% block title %}Derin Öğrenmeye Giriş{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Derin Öğrenmeye Giriş</h1>
        <p class="lead">
            Deep learning, verilerden öğrenen gelişmiş bir makine öğrenme tekniğidir. Yapay sinir ağları kullanarak, bilgisayar sistemlerine karmaşık görevleri öğrenme ve gerçekleştirme yeteneği kazandırır.
        </p>
        <hr class="my-4">
        <p>
            Bu alan, görüntü tanıma, doğal dil işleme ve ses tanıma gibi alanlarda devrim yaratmıştır.
        </p>
    </div>

    <section id="more-details" class="row">
        <div class="col-md-6">
            <h2>Neden Derin Öğrenme?</h2>
            <p>
                Derin öğrenme, büyük ve karmaşık veri setleri üzerinde etkili bir şekilde çalışabilir. ...
            </p>
        </div>
        <div class="col-md-6">
            <h2>Temel Terimler ve Kavramlar</h2>
            <p>
                <strong>Yapay Sinir Ağları:</strong> İnsan beyninin işleyişini taklit eden bilgisayar modelleri. ...
            </p>
        </div>
        <div class="col-md-12 mt-4">
            <h2>Temel Prensipler</h2>
            <p>
                Derin öğrenme, veri setlerinden örüntüleri ve yapıları tespit etmeye dayanır. ...
            </p>
        </div>
    </section>

    <div class="text-right mb-3 mr-3 fixed-bottom" style="bottom: 70px; right: 20px;">
        <a class="btn btn-primary" href="{% url 'types-of-nn' %}" role="button" id="next-topic-btn">Sonraki Konu</a>
    </div>
</div>

<style>
    #next-topic-btn:hover {
        transform: scale(1.1); /* Örnek bir transform efekti. Dilerseniz başka bir efekt ekleyebilirsiniz. */
    }
</style>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script>
        // GSAP Animasyonları
        gsap.from(".jumbotron h1", { duration: 1, y: -50, opacity: 0 });
        gsap.from(".jumbotron p", { duration: 1, y: 50, opacity: 0, delay: 0.5 });
        gsap.from("#more-details .col-md-6", { duration: 1, x: -100, opacity: 0, stagger: 0.2 });
        gsap.from("#more-details .col-md-12", { duration: 1, x: 100, opacity: 0, delay: 0.5 });
        gsap.from("#next-topic-btn", { duration: 1, y: 50, opacity: 0, delay: 1 });
    </script>
{% endblock %}
